body {
	background-color: #f6f6f6;
}

.panel-horiz {
	border-radius: 0;
	background-color: #9b50ff;
	background: linear-gradient(#88f, #9b50ff, #88f);
	font-family: 'Bebas Neue';
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 40px;
}

.panel-horiz a {
	color: white;
	text-transform: uppercase;
}

.panel-horiz a:hover {
	color: #aaaaff;
	text-decoration: none;
}

.panel-horiz ul {
	margin: 4px 0 0 0;
}

.panel-horiz li {
	display: inline-block;
	padding-right: 40px;
}

.main {
	background-color: #fff;
	border-radius: 2px;
	font-family: 'Play';
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 40px;
}

#meeting-info a {
	color: #777;
}

.container {
	padding: 20px 40px;
	box-sizing: content-box;
}

#main h1,h2,h3,h4 {
	font-family: 'Bebas Neue';
	font-weight: 700;
}

#meeting-info {
	border-left: 1px solid #eee;
	padding-left: 40px;
}

.authors {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-family: Play;
	font-size: 10px;
	color: #999;
}

.settings-menu {
	padding-top: 8px;
}

/*.settings-menu > div, .settings-form {
	border: 1px dotted magenta;
}*/

.settings-menu > div {
	padding: 10px 15px;
}

.settings-menu h3 {
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.settings-form {
	border-left: 1px solid #eee;
	padding-left: 60px;
}

.oauth {
	display: inline-block;
	margin-bottom: 20px;
}

.oauth button {
	margin-right: 10px;
}
