<!--                           Client settings                    -->

<form name="client" ng-submit="sc.submitclient()">
	<h3>Chat settings</h3>
	Private chat enabled <input type="checkbox" ng-model="sc.client['ChatModule/privateEnabled']">

	<h3>Users management settings</h3>

	Enable settings button for user <input type="checkbox" ng-model="sc.client['UsersModule/enableSettingsButton']">

	<h3>Deskshare settings</h3>
	Show deskshare button <input type="checkbox" ng-model="sc.client['DeskShareModule/showButton']">
	Autostart deskshare <input type="checkbox" ng-model="sc.client['DeskShareModule/autoStart']">

	<h3>Video settings</h3>
	Autostart of camera sharing <input type="checkbox" ng-model="sc.client['VideoconfModule/autoStart']">
	Skip camera settins check <input type="checkbox" ng-model="sc.client['VideoconfModule/skipCamSettingsCheck']">
	Display user avatar <input type="checkbox" ng-model="sc.client['VideoconfModule/displayAvatar']"><br>

	Show camera on/off button <input type="checkbox" ng-model="sc.client['VideoconfModule/showButton']">
	Show camera close button <input type="checkbox" ng-model="sc.client['VideoconfModule/showCloseButton']">
	Smooth video <input type="checkbox" ng-model="sc.client['VideoconfModule/smoothVideo']"><br>


	Video quality <input type="range" min="0" max="100" ng-model="sc.client['VideoconfModule/videoQuality']">{{sc.client['VideoconfModule/videoQuality']}}<br>
	Camera quality bandwidth<input type="range" min="0" max="100" ng-model="sc.client['VideoconfModule/camQualityBandwidth']">{{sc.client['VideoconfModule/camQualityBandwidth']}}<br>
	Camera quality picture<input type="range" min="0" max="100" ng-model="sc.client['VideoconfModule/camQualityPicture']">{{sc.client['VideoconfModule/camQualityPicture']}}
	<br>

	<button type="submit">Set</button>
</form>
