<!--                           Tomcat settings                    -->

<form name="tomcat" ng-submit="sc.submittomcat()">
	<input type="hidden" name="tokensec" ng-value="sc.tokensec">
	<h3>General meeting settings</h3>
	<fieldset class="col-xs-6">
	Disable recording by default: <input type="checkbox" name="disableRecordingDefault" ng-model="sc.tomcat.disableRecordingDefault" ng-value="sc.tomcat.disableRecordingDefault"><br>
	Allow start/stop recording: <input type="checkbox" name="allowStartStopRecording" ng-model="sc.tomcat.allowStartStopRecording" ng-value="sc.tomcat.allowStartStopRecording"><br>
	Maximum number of pages in presentation:<br><input type="number" min="0" step="1" name="maxNumPages" ng-model="sc.tomcat.maxNumPages" ng-value="sc.tomcat.maxNumPages"><br>
	Default maximum of users per conference:<br><input type="number" min="0" step="1" name="defaultMaxUsers" ng-model="sc.tomcat.defaultMaxUsers" ng-value="sc.tomcat.defaultMaxUsers"><br>
	<button type="submit">Set</button>
	</fieldset>
	<fieldset class="col-xs-5">
	Default meeting duration <span class="hint">(mins):</span><br><input type="number" min="0" step="1" name="defaultMeetingDuration" ng-model="sc.tomcat.defaultMeetingDuration" ng-value="sc.tomcat.defaultMeetingDuration"><br>
	Default meeting expire duration:<br><span class="hint">(the number of minutes after that the meeting will be automatically removed if there are no users logged in)</span><br><input type="number" min="0" step="1" name="defaultMeetingExpireDuration" ng-model="sc.tomcat.defaultMeetingExpireDuration" ng-value="sc.tomcat.defaultMeetingExpireDuration"><br>
	Default meeting create/join duration:<br><span class="hint">(the number of minutes after that the meeting will be automatically removed if nobody is logging in after creation of the meeting)</span><br><input type="number" min="0" step="1" name="defaultMeetingCreateJoinDuration" ng-model="sc.tomcat.defaultMeetingCreateJoinDuration" ng-value="sc.tomcat.defaultMeetingCreateJoinDuration"><br>
	</fieldset>
</form>
