<?xml version="1.0"?>
<config>
  <localeversion suppressWarning="false">0.9.0</localeversion>
  <version>14689</version>
  <help url="http://85.143.223.74/help.html"/>
  <javaTest url="http://85.143.223.74/testjava.html"/>
  <porttest host="85.143.223.74" application="video/portTest" timeout="10000"/>
  <bwMon server="192.168.2.57" application="video/bwTest"/>
  <application uri="rtmp://85.143.223.74/bigbluebutton" host="http://85.143.223.74/bigbluebutton/api/enter"/>
  <language userSelectionEnabled="true"/>
  <skinning enabled="true" url="http://85.143.223.74/client/branding/css/BBBDefault.css.swf"/>
  <shortcutKeys showButton="true"/>
  <browserVersions chrome="41" firefox="36" flash="17" java="1.7.0_51"/>
  <layout showLogButton="false" defaultLayout="bbb.layout.name.defaultlayout" showToolbar="true" showFooter="true" showMeetingName="true" showHelpButton="true" showLogoutWindow="true" showLayoutTools="true" confirmLogout="true" showRecordingNotification="true"/>
  <meeting muteOnStart="false"/>
  <lock disableCamForLockedUsers="false" disableMicForLockedUsers="false" disablePrivateChatForLockedUsers="false" disablePublicChatForLockedUsers="false" lockLayoutForLockedUsers="false" lockOnJoin="true" lockOnJoinConfigurable="false"/>
  <modules>
    <module name="ChatModule" url="http://85.143.223.74/client/ChatModule.swf?v=268" uri="rtmp://85.143.223.74/bigbluebutton" dependsOn="UsersModule" privateEnabled="true" fontSize="12" position="top-right" baseTabIndex="701" colorPickerIsVisible="false"/>
    <module name="UsersModule" url="http://85.143.223.74/client/UsersModule.swf?v=268" uri="rtmp://85.143.223.74/bigbluebutton" allowKickUser="true" enableRaiseHand="true" enableSettingsButton="true" baseTabIndex="301"/>
    <module name="DeskShareModule" url="http://85.143.223.74/client/DeskShareModule.swf?v=268" uri="rtmp://85.143.223.74/deskShare" showButton="true" autoStart="false" autoFullScreen="false" baseTabIndex="201"/>
    <module name="PhoneModule" url="http://85.143.223.74/client/PhoneModule.swf?v=268" uri="rtmp://85.143.223.74/sip" autoJoin="true" listenOnlyMode="true" presenterShareOnly="false" skipCheck="false" showButton="true" enabledEchoCancel="true" useWebRTCIfAvailable="true" showPhoneOption="false" echoTestApp="9196" dependsOn="UsersModule"/>
    <module name="VideoconfModule" url="http://85.143.223.74/client/VideoconfModule.swf?v=268" uri="rtmp://85.143.223.74/video" dependson="UsersModule" videoQuality="100" presenterShareOnly="false" controlsForPresenter="false" resolutions="320x240,640x480,1280x720" autoStart="false" skipCamSettingsCheck="false" showButton="true" showCloseButton="true" publishWindowVisible="true" viewerWindowMaxed="false" viewerWindowLocation="top" camKeyFrameInterval="30" camModeFps="10" camQualityBandwidth="0" camQualityPicture="90" smoothVideo="false" applyConvolutionFilter="false" convolutionFilter="-1, 0, -1, 0, 6, 0, -1, 0, -1" filterBias="0" filterDivisor="4" enableH264="true" h264Level="2.1" h264Profile="main" displayAvatar="false" focusTalking="false" glowColor="0x4A931D" glowBlurSize="30.0"/>
    <module name="WhiteboardModule" url="http://85.143.223.74/client/WhiteboardModule.swf?v=268" uri="rtmp://85.143.223.74/bigbluebutton" dependsOn="PresentModule" baseTabIndex="601" whiteboardAccess="presenter" keepToolbarVisible="false"/>
    <!--

    <module name="PollingModule" url="http://85.143.223.74/client/PollingModule.swf?v=268" 
      uri="rtmp://85.143.223.74/bigbluebutton" 
      dependsOn="PresentModule"
    />
    		
-->
    <module name="PresentModule" url="http://85.143.223.74/client/PresentModule.swf?v=268" uri="rtmp://85.143.223.74/bigbluebutton" host="http://85.143.223.74" showPresentWindow="true" showWindowControls="true" openExternalFileUploadDialog="false" dependsOn="UsersModule" baseTabIndex="501" maxFileSize="30"/>
    <module name="VideodockModule" url="http://85.143.223.74/client/VideodockModule.swf?v=268" uri="rtmp://85.143.223.74/bigbluebutton" dependsOn="VideoconfModule, UsersModule" autoDock="true" showControls="true" maximizeWindow="false" position="bottom-right" width="172" height="179" layout="smart" oneAlwaysBigger="false" baseTabIndex="401"/>
    <module name="LayoutModule" url="http://85.143.223.74/client/LayoutModule.swf?v=268" uri="rtmp://85.143.223.74/bigbluebutton" layoutConfig="http://85.143.223.74/client/conf/layout.xml" enableEdit="false"/>
    <!--
    <module name="NotesModule" url="http://85.143.223.74/client/NotesModule.swf?v=268"
      saveURL="http://85.143.223.74"
      position="top-left"
    />
    
    <module name="BroadcastModule" url="http://85.143.223.74/client/BroadcastModule.swf?v=268"
      uri="rtmp://85.143.223.74/bigbluebutton"
      streamsUri="http://85.143.223.74/streams.xml"
      position="top-left"
      showStreams="true"
      autoPlay="false"
      dependsOn="UsersModule"
    />
-->
  </modules>
</config>
