<auth ng-if="authorized == 'guest'"></auth>

<warn-auth ng-if="authorized == 'user'"></warn-auth>

<section id="settings" ng-if="authorized == 'admin'" ng-controller="settingsCtrl as sc">
<!-- <h2>Server settings</h2> -->

<section class="col-xs-2 settings-menu">
<div><h3 ng-click="sc.settingsSwitch('conn')">Connection check</h3></div>
<div><h3 ng-click="sc.settingsSwitch('tomcat')">General settings</h3></div>
<div><h3 ng-click="sc.settingsSwitch('fs')">Audio settings</h3></div>
</section>

<section class="col-xs-9 settings-form">
<conn-settings-form ng-if="sc.settingsTab=='conn'"></conn-settings-form>
<tomcat-settings-form ng-if="sc.settingsTab=='tomcat'"></tomcat-settings-form>
<fs-settings-form ng-if="sc.settingsTab=='fs'"></fs-settings-form>
</section>

<alert show='sc.show'>
<p ng-bind=sc.msg></p>
</alert>

<waiting ng-show=sc.waiting>
</waiting>
</section>
